<h1 class="form-title">Welcome to The Consult</h1>
  <h3 class="form-title form-title--subtitle">Find some help around here!</h3>
  <form action='/auth/login' method='POST'>
     
      
        <label for="email-input"> Email </label>
        <input type="email" name="email" id="email-input" placeholder="e.g., galaxydestroyer@kitty.com">
      

      
        <label for="password-input"> Password </label>
        <input type="password" name="password" id="password-input" placeholder="e.g., ••••••••••••">
      
    
    <button type='submit'>Enter</button>
  </form>
   <div class="align-text-center">
    <span>Not a member?</span><a href="/auth/signup"> Sign up</a>
  </div>

  {{#if errorMessage}}
  <div class="err-message">{{errorMessage}}</div>
  {{/if}}
