<main>
    <h1> Sign Up </h1>
    <form action="/auth/signup" method="post" enctype="multipart/form-data">
        <label for=''>Picture</label>
        <label class="custom-file-upload">
            <input id="up-image" type="file" name='profilepic'>
            <span>Upload pic</span>
        </label>
        <label for="name-input"> Name </label>
            <input type="text" name="name" id="name-input" placeholder="e.g., Diana Prince">
        <label for="email-input"> Email </label>
            <input type="email" name="email" id="email-input" placeholder="e.g., diana@themyscira.agency">
        <label for="password-input"> Password </label>
            <input type="password" name="password" id="password-input" placeholder="e.g., ••••••••••••">
        <label for=''>Bio</label>
            <input type='text' name='bio' placeholder="catch phrase ">
        <button type="submit"> Create New Account </button>
    </form>

    <p>
        Already have an account?
        <a href="/auth/login">
            Log in.
        </a>
    </p>

    {{#if errorMessage}}
    <p class="error-message">
        {{ errorMessage }}
    </p>
    {{/if}}
</main>