<br>
<nav>
  <ul>
    <li><a href="../index"><img src="/images/home.png"></img></a></li>
    {{!-- <li><a href="../search"><img src = "../"></img></a></li> --}}
    <li><a href="../audio"><img src="/images/record.png"></img></a></li>
    <li><a href="../add"><img src="/images/add.png"></img></a></li>
    <li><a href="/profile/userprofile"><img src="/images/profile.png"></img></a></li>
  </ul>
</nav>