    <div>
    <a href="#" onclick="history.go(-1)"><img src="../images//go-back.png" alt=""></a>
    </div>

<main class="profile">
  <section class="user">
    <div class="user__top">
      <img class="user__img" src="{{newUser.profilepic}}" alt="">
      <div class="edit-logout-container">
        <div class="edit-link-container">
          <a href="/edit/edit-profile"><img src="../images/edit.png" alt=""></a>
        </div>
        <div class="logout-container">
          <a href="auth/logout"><img src="../images/logout.png" alt=""></a>
        </div>
      </div>
    </div>
    <h1>{{newUser.name}}</h1>
    <p>{{newUser.bio }}</p>
  </section>
<div class="scrolling">
  <div class="posts">
  {{#each newUser.posts}}
  {{> songcard this}}
  {{/each}}
  </div>
</div>
  </section>
  {{#if error}}
  <div>
    <p>{{error}}</p>
  </div>
  {{/if}}
<br>
<br>
<br>
<br>
  {{>navbar}}
</main>