    <div>
    <a href="#" onclick="history.go(-1)"><img src="../images/go-back.png" alt=""></a>
    </div>
<main>
    <h1>Consult here</h1>
  <form action='/add' method='POST' class="add-quote" enctype="multipart/form-data">
      <label for=''>Audio</label>
      <label class="custom-file-upload">
      <input id="up-image" type="file" name='songfile'>
      <span>Upload audio</span>
      </label>
      <label for="descripton-input"> Description </label>
      <input type="text" name="description" id="description-input" placeholder="">
      <label for="title-input"> Title </label>
      <input type="text" name="title" id="title-input" placeholder="">
      <label for="artist-input"> Artist</label>
      <input type="text" name="artist" id="artist-input" placeholder="">

    <button type='submit'>Submit</button>
  </form>
  
  {{#if errorMessage}}
    <div class="err-message">{{errorMessage}}</div>
  {{/if}}

  {{> navbar}}
</main>