<audio controls>
  <source src="{{song.song}}" type='audio/mpeg'>
</audio>
<form action="/comments/{{song._id}}" method = 'post'>
    <textarea name = 'text' placeholder ='Do a response'></textarea>
    <div>    
    <button id="submit-btn" type= 'submit'>Submit</button>
    </div>
</form>
<<<<<<< HEAD
=======
{{!-- {{this}} --}}
>>>>>>> 0612b9f0001ce0143f0ce544485f2475cfbdf0d8


{{>navbar}}