<audio controls>
  <source src="{{song.song}}" type='audio/mpeg'>
</audio>
<form class= 'comments-textarea' action="/comments/{{song._id}}" method = 'post'>
    <textarea name = 'text' placeholder ='Do a response'></textarea>
    <div>    
    <button id= 'submit-btn'>Submit</button>
    </div>
</form>


{{>navbar}}