<audio controls>
  <source src="{{song.song}}" type='audio/mpeg'>
</audio>
<form action="/comments/{{song._id}}" method = 'post'>
    <textarea name = 'text' placeholder ='Do a response'></textarea>
    <div>    
    <button type= 'submit'>Submit</button>
    </div>
</form>

{{#each song.comments}}
{{this.userId.name}}
{{this.text}}
{{/each}}

{{>navbar}}