<h1 class="title"> Welcome to The Consult. </h1>
{{#if isUserLoggedIn}}
<div class="container">
  <h2 class="subtitle"> Hello, {{ currentUserInfo.name }}. </h2>
  {{/if}}
  <ul>
    {{#if isUserLoggedIn}}
    
    {{else}}
    <li> <a href="/auth/signup"> Sign Up </a> </li>
    <li> <a href="/auth/login"> Log In </a> </li>
    {{/if}}
  </ul>

  <div class="scrolling">
    <div class="posts">
      {{#each songs}}
      {{> songcardIndex}}
      {{/each}}
    </div>
  </div>
  {{!-- posts --}}
  <br>

  {{>navbar}}