<h1 class="title"> Welcome to The Consult. </h1>
<div class="container">
  {{#if isUserLoggedIn}}
  <h2 class="subtitle"> Hello, {{ currentUserInfo.name }}. </h2>
  {{/if}}
  <ul>
    {{#if isUserLoggedIn}}
    <div>
      <a href="auth/logout"><i class="fa fa-sign-out"> Log out</i></a>
    </div>
    {{else}}
    <li> <a href="/signup"> Sign Up </a> </li>
    <li> <a href="/login"> Log In </a> </li>
    {{/if}}
  </ul>
</nav>

{{#each songs}}
{{> songcardIndex}}
{{/each}}
{{!-- posts --}}
{{>navbar}}