@font-face {
  font-family: "Kaushan_script";
  src: url("../fonts/KaushanScript-Regular.ttf")
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 15px;
}

body {
  line-height: 1.5;
  padding: 50px;
  font: 1rem 'Montserrat', sans-serif;
  background: url(../images/blue-background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  min-height: 100vh;
}

.header-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content>a {
  text-decoration: none !important;
}

.animate-pop-in {
  animation: pop-in 1s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  opacity: 0;
}

.header-title {
  color: black;
  font-family: "Kaushan_script";
  font-weight: bolder;
  font-size: 10rem;
}

/* para ordenador */
@media(max-width:812px) {
  .header-title {
    font-size: 2.6rem;
  }
}

/* Animations */

@keyframes fade-slide-down {
  0% {
    opacity: 0;
    transform: translateY(-4rem);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateY(-4rem) scale(.8);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes rotate-up {
  100% {
    transform: rotateZ(-4deg);
  }
}

.title {
  font-family: "Kaushan_script";
  font-size: 2.5rem;
  font-weight: bolder;
}

pre {
  padding: 0px;
  border: 0px;
  border-radius: 0px;
}

#controls {
  display: flex;
  margin-top: 2rem;
}

#controls>button {
  flex-grow: 1;
  height: 2.5rem;
  max-width: 10rem;
  min-width: 2rem;
  border: none;
  border-radius: 0.15rem;
  background: #ed341d;
  margin-left: 2px;
  box-shadow: inset 0 -0.15rem 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 10px;
}

#controls>button:hover,
button:focus {
  outline: none;
  background: #c72d1c;
}

#controls>button:active {
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2);
  line-height: 3rem;
}

#controls>button:disabled {
  pointer-events: none;
  background: lightgray;
}

#controls>button:first-child {
  margin-left: 0;
}

audio {
  display: block;
  width: 100%;
  margin-top: 0.2rem;
}

#recordingsList>li {
  max-width: 25rem;
  list-style: none;
  margin-bottom: 1rem;
}

#formats {
  margin-top: 0.5rem;
  font-size: 80%;
}
/* ferran navbar */